
<div>
  <div class='wrapper'>
    <div class='container' [dragula]='"sprint-task1"' >
      <mat-card>
        ticket 1: This is a god damn ticket
      </mat-card>
      <mat-card>
        ticket 2: This is another ticket
      </mat-card>
      <mat-card>
        ticket 3: You guessed it another ticket
      </mat-card>
    </div>
    <div class='container' [dragula]='"sprint-task1"' >
      <mat-card>
        ticket 4: this is a ticket from list 2
      </mat-card>
    </div>
  </div>
</div>
